<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <title>{% block head_title %}Alex' blog{% endblock head_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link rel="stylesheet" href="{% static "css/structure.css" %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<a class="scrollToTop" ><i class="fa fa-angle-up"></i></a>
<header id="header">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <a class="navbar-brand" href="/"><span>Alex Blog</span></a> </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav custom_nav">
                      {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{category.title}}</a></li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section id="contentbody">
    <div class="container">
        <div class="row">
            {% block content %}
            {% endblock %}
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="row">
                  <div class="rightbar_content">
                    <div class="single_blog_sidebar wow fadeInUp">
                      <h2>Popular Posts</h2>
                      <ul class="middlebar_nav wow">
                          {% for post in popular_posts %}
                            <li>
                                <a href="{{post.get_absolute_url}}" class="mbar_thubnail">
                                {% if post.image %}
                                <img alt="" src="{{post.image.url}}"></a>
                                {% endif %}
                                <a href="{{post.get_absolute_url}}" class="mbar_title">{{post.title}}</a>
                            </li>
                          {% endfor %}
                      </ul>
                    </div>
                      <div class="single_blog_sidebar wow fadeInUp">
                      <h2>Popular Tags</h2>
                      <ul class="poplr_tagnav">
                          {% for tag in popular_tags %}
                            <li><a href="{{ tag.get_absolute_url }}">{{tag.title}}</a></li>
                            {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>


