{% extends 'posts/base.html' %}
{% block content %}
<div class=" col-sm-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="leftbar_content">
            <h2>Recent Posts</h2>
                        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
              {% for post in posts %}
            <div class="single_stuff wow fadeInDown">
                <div class="single_stuff_img">
                  {% if post.image %}
                  <a href="{{post.get_absolute_url}}">
                  <img alt="" src="{{post.image.url}}">
                  </a>
                  {% endif %}
                 </div>
              <div class="single_stuff_article">
                <div class="single_sarticle_inner"> <a class="stuff_category" href="{{ post.category.get_absolute_url }}">{{post.category}}</a>
                  <div class="stuff_article_inner"> <span class="stuff_date">{{post.created|date:'j M'}}</span>
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p>{{post.content|truncatechars:200}}</p>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
            </div>
          </div>
        </div>
{% endblock %}